# Solana RPC endpoint URL, usually with access api token
PRIVATE_RPC_ENDPOINT="https://mrgn.rpcpool.com/<API_TOKEN>"

# The Solana wallet that will be used to sign transactions and pay fees
MARGINFI_WALLET=home/user/keys/wallet.json

MARGINFI_ENV="production"
MARGINFI_PROGRAM_ID=MFv2hWf31Z9kbCa1snEPYctwafyhdvnV7FZnsebVacA